*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:'Segoe UI',sans-serif;
}

body{
background:#0b1120;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
position:fixed;
width:100%;
background:#0b1120;
z-index:1000;
}

.logo{
font-size:24px;
font-weight:bold;
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
text-decoration:none;
color:white;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:150px 10%;
min-height:100vh;
}

.hero-text{
max-width:600px;
}

.hero-text h1{
font-size:60px;
}

.hero-text h2{
color:#38bdf8;
margin:15px 0;
}

.description{
margin:20px 0;
line-height:1.8;
}

.hero-image img{
width:350px;
border-radius:50%;
border:5px solid #38bdf8;
}

.btn,.btn-outline{
padding:12px 25px;
margin-right:10px;
border-radius:10px;
text-decoration:none;
}

.btn{
background:#38bdf8;
color:black;
}

.btn-outline{
border:1px solid #38bdf8;
color:#38bdf8;
}

section{
padding:100px 10%;
}

.section-title{
text-align:center;
font-size:40px;
margin-bottom:50px;
}

.card,
.skill-card,
.project-card,
.timeline-item,
.contact-box{
background:#111827;
padding:25px;
border-radius:20px;
}

.skills-grid,
.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.skill-card i{
font-size:40px;
color:#38bdf8;
margin-bottom:15px;
}

.project-card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
margin-bottom:15px;
}

.timeline{
display:grid;
gap:20px;
}

.contact-box{
text-align:center;
}

.socials{
margin-top:20px;
}

.socials a{
font-size:30px;
margin:0 15px;
color:#38bdf8;
}

footer{
padding:30px;
text-align:center;
border-top:1px solid #1e293b;
}

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-image{
margin-top:40px;
}

.hero-image img{
width:250px;
}
}
